.dot {
    height: 500px;
    width: 500px;
    background-color: red;
    border-radius: 50%;
  }

.myProfile {
    background-image: url('./blake-woolwine-9w4msoUPAmo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;    /* background-size: 50%; */
}