.howitworks {
    height:1000px;
    color: blue;
    background-image: url('./pexels-daria-shevtsova-1054974.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: blueviolet;
}

.headerimg {
    width: 100%;
}