label {
  margin: 10px;
  width: 400px;
}

.lbl {
  width: 100px;
}

.inputbox {
    position: relative;
    text-align: right;
    margin:10px;
    padding-right: 10%;
    /* flex-wrap: nowrap; */
  }
  /* * {
    box-sizing: border-box;
  } */
  input {
    /* display:flex; */
    /* width:100%; */
    margin:10px 0;
    padding:10px;
  }
  
  .box {
    background-color: #9fffcb;
    width: 50%;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
  }
  .box:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
  }
 